
@font-face {
    font-family: 'Inter';
    src: url('C:\Users\User\Dev\entregable-html\Inter.ttf');
}

body {
  background-color:#FFFFFF;
  padding: 0 10px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
}

.logo-menu {
    display: inline-flex; 
    align-items: center;
}

.logo-img {
    width: 60px;
    height: 60px;
    padding: 8px;
}

.menu-list {
    padding: 0;
}

.menu-list li {
    padding: 0.5em;
    font-weight: bold;
    display: inline-block;
    margin-right: 20px;
}

.user-actions {
    margin-left: auto;
}

.user-list {
    display: -webkit-inline-box;
    list-style: none;
    -webkit-box-align: center;
}

.user-list li {
    padding: 0.5em;
    font-weight: bold;
}

.container {
    display: flex;
}

.div1 {
    width: 50%;
    padding: 25px;
}

#div2 {
    width: 50%;
    padding: 25px;
}

.office-img{
    width: 757px;
    height: 300px;
    vertical-align: middle;
    border-radius: 5px;
}

.icon{
    width: 20px;
    height: 20px;
}

div.contacto>p{
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 35px;
    display: inline-flex;
}

div.numero>p{
    color: 1E1E1E;
    margin-left: 15px;
}

.numero{
    display: flex;
    align-items: center; 
}

h1 {
    color: black;
    font-size: xxx-large;
    margin-top: 0em;
    margin-bottom: 0em;
}

.title {
    margin-top: 20px;
    font-size: x-large;
    margin-bottom: 9px;
    margin-top: 0em;
}

p {
    opacity: 0.7;
    display: inline-block;
}

.texto{
    width: 80%;
    font-size: large;
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 25px;
    place-self: flex-end;
    margin-bottom: 17rem;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
    padding-right: 20px;
}

form label {
    font-size: 15px;
    margin-bottom: 7px;
    padding-bottom: 10px;
    font-weight: bolder;
}

::placeholder {
    font-family: "Inter", Arial, Helvetica, sans-serif; 
    color: D9D9D9;
    opacity: 38%;
}

.input-group,
.fnln-group,
.message-box {
    height: 20px;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    background: #ffff;
    border-radius: 5px;
    border: solid 1px #bfbfbf;
}

.submit-btn {
    background: #121093;
    font-size: 16px;
    padding: 15px 25px;
    border-radius: 5px;
    color: #FFFFFF;
}

.contact-info{
    display: inline-flex;
}

div.form-group>input,
div.form-group>textarea
{
    margin-top: 6px;
}